.WooZoneLight-table {
	border: 1px solid #bcbfc4;
}
	table.WooZoneLight-table tr td,
	table.WooZoneLight-table tr th {
		padding: 7px 10px;
	}
	.WooZoneLight-table thead th {
		text-align: left;
	}

.WooZoneLight-import-products-test {
}
	.WooZoneLight-test-timeline {
		width: 700px;
		background: none repeat scroll 0 0 #ECF0F1;
	    border: 1px solid #D7D9DF;
	    margin: 4px 50px 4px 0px;
	    padding: 2px;
	    position: relative;
	    height: 20px; 	
	    padding-right: 5px;	
	    display: none;
	}
		.WooZoneLight-test-timeline .WooZoneLight-one_step {
			border-right: 1px solid #484848;
			float: left;
			height: 18px; 
			width: 33.6%; 
			position: relative;
			margin-right: -4px;
		}
			.WooZoneLight-one_step .WooZoneLight-step-name { 
				position: absolute; 
				width: 65px;
				height: 24px;
				line-height: 22px;
				padding: 0px;
				right: -34px;
				top: -32px;
				margin-left: -32px;
				background: #7d8688;
				text-align: center;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				color: #fff;
			} 
				.WooZoneLight-one_step .WooZoneLight-step-name:after 
				{
					content: "";
					position: absolute;
					bottom: -10px;
					left: 25px;
					border-style: solid;
					border-width: 10px 7px 0;
					border-color: #7d8688 transparent;
					display: block;
					width: 0;
					z-index: 1;
				}
				
		.WooZoneLight-one_step .WooZoneLight-step-status {
			border: 1px solid #adb3b4;
			width: 100%;
			height: 18px;
			background: #fff;
		}
			.WooZoneLight-one_step .WooZoneLight-step-status.WooZoneLight-loading-success {
				background: #2ecc71;
				border-color: #27ae60;
				position: relative;
				color: #fff;
				text-align: center;
			}
			.WooZoneLight-one_step .WooZoneLight-step-status.WooZoneLight-loading-error {
				background: #e74c3c;
				border-color: #c0392b;
				position: relative;
				color: #fff;
				text-align: center;
			}
		
		.WooZoneLight-one_step .WooZoneLight-step-status.WooZoneLight-loading-inprogress {
			background-image: url("../../aa-framework/images/ajax-loader.gif");
			background-position: center center;
			background-repeat: no-repeat;
		}
		
		.WooZoneLight-table.WooZoneLight-logs {
			border: 1px solid #bcbfc4;
			width: 709px !important; 
			margin: 10px 0px 10px 0px;
			display: none;
		}
			.WooZoneLight-table.WooZoneLight-logs td:first-child {
				font-weight: bold;
				vertical-align: middle !important;
			}
			.WooZoneLight-log-title {
				position: relative;
			}
				.WooZoneLight-log-title .WooZoneLight-button {
					position: absolute;
					top: -4px;
					right: 0px;
				}
				.WooZoneLight-table.WooZoneLight-logs .WooZoneLight-log-details {
					border: 1px solid #bcbfc4;
					width: 100%;
					height: 140px; 
					margin: 5px 0px 0px 0px;
					display: none;
				}
				
				.WooZoneLight-table.WooZoneLight-logs tr td:last-child {
					padding-right: 6px;
				}
				.WooZoneLight-table.WooZoneLight-logs tr:first-child td {
					border-top: none;
				}
				.WooZoneLight-table.WooZoneLight-logs tr td {
					border-top: 1px solid #bcbfc4;
				}
				
				.WooZoneLight-table.WooZoneLight-logs tr {
					opacity: 0.2;
				}
		.WooZoneLight-begin-test-container {
			width: 600px; 
			height: 30px; 
		}
			.WooZoneLight-begin-test-container input {
				position: relative;
				top: -8px;
				width: 120px;
			}
			.WooZoneLight-begin-test-container label {
				position: relative;
				top: -10px;
				right: -4px;
			}
			
	.WooZoneLight-loading-ajax-details {
		background-image: url("../../aa-framework/images/ajax-loader.gif");
		background-repeat: no-repeat;
		background-position: center left;
		width: 100%;
		min-height: 25px;  
	}
